body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    align-items: center;
}
h1{
   
    text-align: center;
}

h2{
    text-align: center;
}

.sec1{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 246, 248, 0.849);
    border-radius: 20px;
    height: 70%;
    width: 80%;

}

.sec2{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.personagens{
    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);
    background: linear-gradient(to right, #85D8CE, #085078);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex: 1 1 250px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 20px;

}
.nome_personagens{
    text-align: center;
    font-weight: bolder;
    justify-items: center;
    cursor: pointer;
    
    
    
}

.armas{
    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);
    background: linear-gradient(to right, #85D8CE, #085078);
    width: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 20px;
    position: relative;

}

.nome_arma{
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    
}


img{
    cursor: pointer;
    width: 180px;
    height: 200px;
    
}

button{
    font-weight: bold;
    text-align: center;
    color: oldlace;
    margin: 20px;
    align-items: flex-end;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    transition: all 400ms ease;
    cursor: pointer;
    background-color: midnightblue;
    max-width: 150px;
    
}

.efeito:hover{
    background-color: rgba(13, 161, 154, 0.931);
    border: solid;
    transition: all 1s ease-in;
    width: 100%;

}
.armas :hover{
    border-bottom: solid;
    border-color: rgba(245, 245, 245, 0.644);
    transition: all 100ms ease-in;
    zoom: 110%;
    
    
}

.personagens :hover{
    border-bottom: solid;
    border-color: rgba(245, 245, 245, 0.644);
    transition: all 100ms ease-in;
    zoom: 110%;
    
}

footer{
    text-align: center;
    font-size: 20px;
}

